* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
body {
  margin: 0;
  background: rgb(102, 102, 102);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  margin-bottom: 50px;
  font-size: 3em;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-family: "Cedarville Cursive", cursive;
  line-height: 1;
}

.heading > span {
  font-family: "Cedarville Cursive", cursive;
  font-size: 0.4em;
  float: right;
}

.ins {
  margin-bottom: 20px;
  font-size: 1em;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  color: white;
  padding: 20px 30px;
  line-height: 2;
  letter-spacing: 2px;
}

table,
td,
th {
  border: 0.5px solid white;
  border-collapse: collapse;
  text-align: center;
  padding: 1px;
}
td {
  padding: 3px 30px;
}

.piano {
  width: 60%;
  margin: 20px;
  padding: 3em 3em 0 3em;
  border: 1px solid #160801;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset,
    0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

.keys {
  list-style: none;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.white {
  height: 14em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}
.white:active,
.pressed_w {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.black {
  height: 7em;
  width: 2.3em;
  margin: 0 0 0 -1.4em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black:active,
.pressed_b {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

.bk_label {
  color: #fff;
  font-size: 12px;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.wk_label {
  font-size: 12px;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
::selection{
  background: transparent;
}

.a,
.g,
.b,
.d,
.e {
  margin: 0 0 0 -0.9em;
}

.f {
  margin-left: -0.5em;
}
.b {
  width: 3.8em;
}

.white:first-child {
  border-radius: 5px 0 5px 5px;
}

.white:last-child {
  border-radius: 0 5px 5px 5px;
}
.less-width {
  display: none;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 50px;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}
@media (max-width: 900px) {
  .piano {
    width: 90%;
  }
  .b {
    width: 3.4em;
  }
  .heading {
    display: none;
  }
  .ins {
    display: none;
  }
  .bk_label,
  .wk_label {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .less-width {
    display: block;
  }
  .piano {
    display: none;
  }
  .heading {
    display: block;
  }
}
